.btn-container{
    display: flex;
}

.btn-container button{     
    border-radius: 10px 0 0 10px;
    width: calc(100% - 50px);
}

.btn h6{
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-icon-container{
    width: 50px;
    height: 50px;
    background-color: #33569B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FFF;
}

@media(min-width: 576px){
    .btn-icon-container{
        width: 70px;
        height: 70px;    
    }

    .btn-container button{          
        width: calc(100% - 70px);
    }

    .btn h6 {
        font-size: 18px;
        text-transform: uppercase;
    }
}